table {
  border-collapse: separate;
  -webkit-border-vertical-spacing: 5px;
}

#main-table {
  overflow: auto;
  max-height: 52vh;
}

table {
  transition: all 0.5s ease-in-out;
}

.action-btn {
  width: 20px;
  cursor: pointer;
  margin-right: 2px;
  margin-left: 2px;
}

td {
  padding: 0px 3px 0px 3px;
  background-color: linen;
  border-radius: 0;
  text-align: center;
}

td:first-child {
  padding-left: 45px;
}

th {
  background-color: grey;
  border-radius: 0;
  color: linen;
}

tr {
  position: relative;
}

input {
  border: 1px solid darkturquoise !important;
  background-color: white !important;
}

input:disabled {
  display: inline;
  background-color: inherit !important;
  border: none !important;
  color: black !important;
}

select {
  display: inline;
}

select:disabled {
  outline: none;
  border: none;
  background-color: inherit;
  width: 100px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.categories-icons {
  width: 40px;
  position: absolute;
  left: 2px;
  top: 5px;
  background-color: inherit !important;
}
